<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Buenos Ayres - Editar Taller</title>

    <link rel="shortcut icon" href="../assets/img/favicon.png">

    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="../assets/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="../assets/plugins/toastr/toatr.css">

    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

<div class="main-wrapper">

    <div class="header">

        <div class="header-left">
            <a href="index" class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </a>
            <a href="index" class="logo logo-small">
                <img src="../assets/img/logo-small.png" alt="Logo" width="30" height="30">
            </a>
        </div>

        <div class="menu-toggle">
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>
        </div>


        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>


                <ul class="nav user-menu">

            <li class="nav-item zoom-screen me-2">
                <a href="#" class="nav-link header-nav-list">
                    <img src="../assets/img/icons/header-icon-04.svg" alt="">
                </a>
            </li>

            <li class="nav-item dropdown has-arrow new-user-menus">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="../assets/img/profiles/avatar-01.jpg" width="31"
                                 alt="Perfil">
                            <div class="user-text">
                                <h6>Obteniendo...</h6>
                                <p class="text-muted mb-0">Obteniendo...</p>
                            </div>
                        </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../assets/img/profiles/avatar-01.jpg" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Obteniendo...</h6>
                            <p class="text-muted mb-0">Obteniendo...</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="/perform_logout">Salir</a>
                </div>
            </li>

        </ul>

    </div>


    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Editar Taller</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card comman-shadow">
                        <div class="card-body">
                            <form id="editar-taller-form">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title">Información del Taller</h5>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Nivel</label>
                                            <input type="text" class="form-control" id="nivel" name="nivel" readonly>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label>Profesor</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="profesor-nombre" name="profesor-nombre" readonly>
                                                <input type="hidden" id="profesor-id" name="profesor-id">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#modalSeleccionarProfesor">
                                                    Seleccionar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para seleccionar profesor -->
            <div class="modal fade" id="modalSeleccionarProfesor" tabindex="-1" role="dialog"
                 aria-labelledby="modalSeleccionarProfesorLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalSeleccionarProfesorLabel">Seleccionar Profesor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="student-group-form">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <input id="buscar-profesor-input" type="text" class="form-control"
                                                   placeholder="Buscar Profesores...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="tabla-profesores" class="table table-striped table-bordered w-100">
                                    <thead>
                                    <tr>
                                        <th>DNI</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Habilitado</th>
                                        <th>Seleccionar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Resto del contenido de la página (tabla de alumnos, etc.) -->
            <div class="student-group-form">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table comman-shadow">
                        <div class="card-body">

                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Alumnos del Taller</h3>
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <button onclick="abrirModalConcepto()" class="btn btn-primary">
                                            <i class="fas fa-dollar-sign"></i>
                                        </button>
                                        <a href="talleres" class="btn btn-outline-gray me-2 active"><i
                                                class="feather-list"></i></a>
                                        <a href="#" class="btn btn-outline-primary me-2"><i
                                                class="fas fa-download"></i>
                                            Descargar</a>
                                        <button onclick="abrirModalBusqueda()" class="btn btn-primary"><i
                                                class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="tabla-detalle" class=" table border-0 star-student table-hover table-center mb-0
                                            table-striped">
                                    <thead class="student-thread">
                                    <tr>
                                        <th>ID</th>
                                        <th>DNI</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody><!-- Aquí se agregarán las filas dinámicamente --></tbody>
                                </table>
                            </div>



                        </div>

                    </div>

                    <div id="modalBusqueda" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="standard-modalLabel" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="standard-modalLabel">Buscar Alumnos</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table id="personasTable" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Seleccionar</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- El contenido de la tabla se llenará dinámicamente -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light"
                                            data-bs-dismiss="modal">Descartar</button>
                                    <button type="button" class="btn btn-primary" id="sendButton">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal-modificar" class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modificar Monto</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" id="monto" placeholder="Ingrese el monto" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" onclick="actualizarConcepto()">Guardar
                                        Cambios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/jquery-3.6.0.min.js"></script>

<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../assets/js/feather.min.js"></script>

<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables/datatables.min.js"></script>
<script src="../assets/plugins/toastr/toastr.min.js"></script>
<script src="../assets/plugins/toastr/toastr.js"></script>
<script src="../assets/js/script.js"></script>

<script>
    var datosSeleccionados = [];
    var tabla; // Declarar la variable tabla globalmente
    const tallerId = obtenerIdTaller();

    $(document).ready(function () {
                $.ajax({
                    url: '/api/v1/userdata',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Asumiendo que la API retorna un objeto JSON con nombre, apellido y rol
                        var nombre = data.nombre;
                        var apellido = data.apellido;
                        var rol = data.rol;

                        // Actualiza la información del usuario en el menú desplegable
                        $('.user-text h6').text(nombre + ' ' + apellido);
                        $('.user-text p').text(rol);
                    },
                    error: function (error) {
                        console.error('Error al obtener la información del usuario:', error);
                        // Manejar el error de la solicitud, por ejemplo, mostrar un mensaje al usuario
                    }
                });
        cargarDatosTaller();
        cargarTablaAlumnos();
    });

    function cargarDatosTaller() {
        $.ajax({
            url: `/api/v1/talleres/${tallerId}`,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                $('#nombre').val(data.nombre);
                $('#nivel').val(data.nivel);
                $('#profesor-id').val(data.profesor.id);
                $('#profesor-nombre').val(data.profesor);
            },
            error: function (error) {
                toastr.error(error.responseText);
            }
        });
    }

    function cargarTablaAlumnos() {
        tabla = $('#tabla-detalle').DataTable({ // Asignar a la variable global
            processing: true,
            ajax: {
                url: `/api/v1/talleres/${obtenerIdTaller()}/alumnos`,
                dataSrc: ''
            },
            columns: [
                { data: 'id', visible: false },
                { data: 'dni' },
                { data: 'nombre' },
                { data: 'apellido' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `<td class="text-end"><div class="actions"><button onclick="eliminarMiembro('${data.id}')" class="btn btn-sm bg-danger-light"><i class="fas fa-trash"></i></button></div></td>`;
                    }
                }
            ]
        });
    }

    function obtenerIdTaller() {
        const urlParams = new URLSearchParams(window.location.search);
        const tallerId = urlParams.get('id');
        return tallerId;
    }

    function cargarAlumnos() {
        var tablaPersonas = $('#personasTable').DataTable({
            "processing": true,
            "ajax": {
                "url": "/api/v1/alumnos",
                "dataSrc": function (json) {
                    var idFamilia = obtenerIdTaller();
                    return json.filter(function (alumno) {
                        return true; // Mostrar todos los alumnos
                    });
                }
            },
            "columns": [
                { data: "id", visible: false },
                { data: "dni" },
                { data: "nombre" },
                { data: "apellido" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<input type="checkbox" class="personaCheckbox">';
                    }
                }
            ]
        });

        $('#personasTable').on('change', '.personaCheckbox', function () {
            var fila = $(this).closest('tr');
            var datosFila = tablaPersonas.row(fila).data();

            if ($(this).is(':checked')) {
                datosSeleccionados.push(datosFila['id']);
            } else {
                var index = datosSeleccionados.indexOf(datosFila);
                if (index !== -1) datosSeleccionados.splice(index, 1);
            }
        });

        $('#sendButton').on('click', function () {
            $.ajax({
                url: `/api/v1/talleres/${obtenerIdTaller()}/alumnos`,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(datosSeleccionados),
                success: function (response) {
                    console.log('Solicitud PUT exitosa');
                    toastr.success('Alumnos agregados exitosamente.', 'Éxito', { timeOut: 3000 });
                    $('#modalBusqueda').modal('hide');
                    datosSeleccionados = [];
                    tabla.ajax.reload(); // Recargar la tabla principal
                },
                error: function (xhr, status, error) {
                    console.error('Error en la solicitud PUT:', error);
                    toastr.error('Error al agregar los alumnos.', 'Error', { timeOut: 5000 });
                }
            });
        });
    }

    function abrirModalBusqueda() {
        if ($.fn.DataTable.isDataTable('#personasTable')) {
            $('#personasTable').DataTable().ajax.reload();
        } else {
            cargarAlumnos();
        }
        $('#modalBusqueda').modal('show');
    }

    function eliminarMiembro(id_miembro) {
        $.ajax({
            url: `/api/v1/talleres/${obtenerIdTaller()}/alumnos`,
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(id_miembro),
            success: function (data) {
                toastr.success('Alumno removido exitosamente.', 'Éxito', { timeOut: 3000 });
                tabla.ajax.reload(); // Recargar la tabla principal
            },
            error: function (xhr, status, error) {
                console.error("Error al eliminar el alumno:", error);
                toastr.error('Error al eliminar el alumno.', 'Error', { timeOut: 5000 });
            }
        });
    }

    function obtenerMontoActual() {
        $.ajax({
            url: `/api/v1/conceptos?taller=${obtenerIdTaller()}`,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                $("#monto").val(data[0].monto);
            },
            error: function (xhr, status, error) {
                console.error("Error al obtener el monto:", error);
                toastr.error('Error al obtener el monto del concepto.', 'Error', { timeOut: 5000 });
            }
        });
    }

    function abrirModalConcepto() {
        obtenerMontoActual();
        $("#modal-modificar").modal('show');
        $("#modal-modificar .modal-title").text('Modificar Valor');
    }

    function actualizarConcepto() {
        function obtenerMonto() {
            return $("#monto").val();
        }
        var datos = {
            tipoDeConcepto: 'TALLER',
            taller: obtenerIdTaller(),
            monto: obtenerMonto()
        };

        $.ajax({
            url: '/api/v1/conceptos',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(datos),
            success: function (response) {
                toastr.success('Monto actualizado', 'Éxito', { timeOut: 3000 });
                $('#modal-modificar').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error al actualizar el concepto:', textStatus, errorThrown);
                toastr.error('Error al actualizar el concepto.', 'Error', { timeOut: 5000 });
            }
        });
    }

    var tablaProfesores = $('#tabla-profesores').DataTable({
        "ajax": {
            "url": "/api/v1/profesores", // Ajustar la URL de la API
            "dataSrc": ""
        },
        "columns": [
            {"data": "dni"},
            {"data": "nombre"},
            {"data": "apellido"},
            {
                data: "habilitado",
                render: function (data, type, row) {
                    return data ? '<span class="badge bg-success">Habilitado</span>' : '<span class="badge bg-danger">Deshabilitado</span>';
                }
            },
            {
                "data": null,
                "render": function (data, type, row) {
                    return `<button type="button" class="btn btn-primary btn-sm seleccionar-profesor" data-profesor-id="${data.id}" data-profesor-nombre="${data.nombre} ${data.apellido}">Seleccionar</button>`;
                }
            }
        ]
    });

    $('#buscar-profesor-input').on('input', function () {
        tablaProfesores.search($(this).val()).draw();
    });

    // Manejar clic en "Seleccionar" profesor
    $('#tabla-profesores').on('click', '.seleccionar-profesor', function () {
        const profesorId = $(this).data('profesor-id');
        const profesorNombre = $(this).data('profesor-nombre');
        $('#profesor-id').val(profesorId);
        $('#profesor-nombre').val(profesorNombre);
        $('#modalSeleccionarProfesor').modal('hide');
    });

    // Manejar el envío del formulario
    $('#editar-taller-form').submit(function (event) {
        event.preventDefault(); // Evitar el envío por defecto del formulario

        const formData = {
            nombre: $('#nombre').val(),
            nivel: $('#nivel').val(),
            profesorId: $('#profesor-id').val()
        };

        $.ajax({
            url: `/api/v1/talleres/${tallerId}`, // Ajustar la URL de la API
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function () {
                toastr.success('Taller actualizado correctamente.');
                // Limpiar el formulario o redirigir a la lista de talleres, según sea necesario
            },
            error: function (error) {
                toastr.error(error.responseText);
            }
        });
    });
</script>


</body>

</html>