<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Buenos Ayres - Calificaciones</title>

  <link rel="shortcut icon" href="../assets/img/favicon.png">

  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

  <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="../assets/plugins/icons/flags/flags.css">

  <link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="../assets/plugins/datatables/datatables.min.css">

  <link rel="stylesheet" href="../assets/css/style.css">
  <style>       .dt-buttons {
            display: none;
        }
    .dataTables_filter {
      display: none;
    }
  </style>


</head>

<body>

<div class="main-wrapper">
  <div class="header">

    <div class="header-left">
      <a href="index" class="logo">
        <img src="../assets/img/logo.png" alt="Logo">
      </a>
      <a href="index" class="logo logo-small">
        <img src="../assets/img/logo-small.png" alt="Logo" width="30" height="30">
      </a>
    </div>

    <div class="menu-toggle">
      <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-bars"></i>
      </a>
    </div>


    <a class="mobile_btn" id="mobile_btn">
      <i class="fas fa-bars"></i>
    </a>


            <ul class="nav user-menu">

            <li class="nav-item zoom-screen me-2">
                <a href="#" class="nav-link header-nav-list">
                    <img src="../assets/img/icons/header-icon-04.svg" alt="">
                </a>
            </li>

            <li class="nav-item dropdown has-arrow new-user-menus">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="../assets/img/profiles/avatar-01.jpg" width="31"
                                 alt="Perfil">
                            <div class="user-text">
                                <h6>Obteniendo...</h6>
                                <p class="text-muted mb-0">Obteniendo...</p>
                            </div>
                        </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../assets/img/profiles/avatar-01.jpg" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Obteniendo...</h6>
                            <p class="text-muted mb-0">Obteniendo...</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="/perform_logout">Salir</a>
                </div>
            </li>

        </ul>

  </div>


  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          <li class="menu-title">
            <span>Menú Principal</span>
          </li>
          <li class="submenu active">
            <a href="#"><i class="fas fa-graduation-cap"></i> <span> Calificaciones</span> <span
                    class="menu-arrow"></span></a>
            <ul>
              <li><a href="calificaciones" class="active">Ver Calificaciones</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="student-group-form">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label for="select-curso">Seleccionar Curso:</label>
              <select id="select-curso" class="form-control">
                <option value="">Seleccione un curso</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <label>&nbsp;</label>
              <button id="exportarTodos" class="btn btn-primary btn-block">Exportar todos</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-table comman-shadow">
            <div class="card-body">

              <div class="page-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="page-title">Calificaciones</h3>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table id="tabla-calificaciones"
                       class="table border-0 star-student table-hover table-center mb-0 table-striped">
                  <thead class="student-thread">
                  <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>

              <footer>
                <p>Buenos Ayres - Agustín Ramos</p>
              </footer>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para ver el boletín -->
  <div class="modal fade" id="modalBoletin" tabindex="-1" role="dialog" aria-labelledby="modalBoletinLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBoletinLabel">Boletín de Calificaciones - <span
                  id="nombreAlumnoModal"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <button type="button" class="btn btn-primary" id="exportarHistoriaAcademica">
            Exportar Historia Académica
          </button>
        </div>
        <div class="modal-body">
          <div class="student-group-form">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <label for="select-curso-boletin">Seleccionar Curso:</label>
                  <select id="select-curso-boletin" class="form-control">
                    <option value="">Seleccione un curso</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="tabla-boletin" class="table border-0 star-student table-hover table-center mb-0 table-striped">
              <thead>
              <tr>
                <th>Materia</th>
                <th>Primer Trimestre</th>
                <th>Segundo Trimestre</th>
                <th>Tercer Trimestre</th>
                <th>Final</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="exportarPDF">Exportar a PDF</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="../assets/js/jquery-3.6.0.min.js"></script>

<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="../assets/js/feather.min.js"></script>

<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables/datatables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.21/jspdf.plugin.autotable.min.js"></script>

<script src="../assets/js/script.js"></script>

<script th:inline="none">
  $(document).ready(function () {
                $.ajax({
                    url: '/api/v1/userdata',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Asumiendo que la API retorna un objeto JSON con nombre, apellido y rol
                        var nombre = data.nombre;
                        var apellido = data.apellido;
                        var rol = data.rol;

                        // Actualiza la información del usuario en el menú desplegable
                        $('.user-text h6').text(nombre + ' ' + apellido);
                        $('.user-text p').text(rol);
                    },
                    error: function (error) {
                        console.error('Error al obtener la información del usuario:', error);
                        // Manejar el error de la solicitud, por ejemplo, mostrar un mensaje al usuario
                    }
                });

    // Cargar cursos en el dropdown
    $.ajax({
      url: '/api/v1/cursos',
      success: function (cursos) {
        cursos.forEach(curso => {
          $('#select-curso').append(`<option value="${curso.id}">${curso.orden}° - ${curso.nivel} - ${curso.turno}</option>`);
          $('#select-curso-boletin').append(`<option value="${curso.id}">${curso.orden}° - ${curso.nivel} - ${curso.turno}</option>`);
        });
      }
    });

    // Manejar el cambio de selección de curso
    $('#select-curso').change(function () {
      const cursoId = $(this).val();
      if (cursoId) {
        cargarAlumnos(cursoId);
      } else {
        $('#tabla-calificaciones tbody').empty();
      }
    });

    // Cargar alumnos en la tabla
    function cargarAlumnos(cursoId) {
      $.ajax({
        url: `/api/v1/alumnos?curso=${cursoId}`,
        success: function (alumnos) {
          const tabla = $('#tabla-calificaciones tbody');
          tabla.empty();

          alumnos.forEach(alumno => {
            tabla.append(`
                            <tr>
                                <td>${alumno.dni}</td>
                                <td>${alumno.nombre}</td>
                                <td>${alumno.apellido}</td>
                                <td>
                                    <a href="#" class="ver-boletin" data-alumno-id="${alumno.id}" data-alumno-nombre="${alumno.nombre} ${alumno.apellido}">
                                        <i class="fas fa-book-open"></i>
                                    </a>
                                    <a href="detalle-alumno?alumno=${alumno.id}" class="btn btn-sm bg-info-light me-2">
                                            <i class="fas fa-chalkboard"></i>
                                    </a>
                                </td>
                            </tr>
                        `);
          });
        }
      });
    }

    // Manejar clic en "Ver Boletín"
    $(document).on('click', '.ver-boletin', function () {
      const alumnoId = $(this).data('alumno-id');
      const alumnoNombre = $(this).data('alumno-nombre');

      // Agregar data-alumno-id al modal al abrirlo (nuevo)
      $('#modalBoletin').data('alumno-id', alumnoId);

      $('#nombreAlumnoModal').text(alumnoNombre);
      $('#modalBoletin').modal('show');

      // Cargar calificaciones en la tabla del boletín (inicialmente vacía)
      $('#tabla-boletin tbody').empty();

      // Manejar el cambio de selección de curso en el modal
      $('#select-curso-boletin').change(function () {
        const cursoId = $(this).val();
        if (cursoId) {
          cargarBoletin(alumnoId, cursoId);
        } else {
          $('#tabla-boletin tbody').empty();
        }
      });
    });

    // Cargar el boletín del alumno
    function cargarBoletin(alumnoId, cursoId) {
      $.ajax({
        url: `/api/v1/calificaciones/boletin?alumno=${alumnoId}&curso=${cursoId}`, // Reemplaza con la URL correcta de tu API
        success: function (data) {
          const tabla = $('#tabla-boletin tbody');
          tabla.empty();

          data.forEach(materia => {
            tabla.append(`
                            <tr>
                                <td>${materia.materia}</td>
                                <td>${materia.primerTrimestre || ""}</td>
                                <td>${materia.segundoTrimestre || ""}</td>
                                <td>${materia.tercerTrimestre || ""}</td>
                                <td>${materia.final || ""}</td>
                            </tr>
                        `);
          });
        }
      });
    }

    document.getElementById('exportarPDF').addEventListener('click', function () {
      const alumnoNombre = $('#nombreAlumnoModal').text();
      const cursoSeleccionado = $('#select-curso-boletin option:selected').text();
      const partesCurso = cursoSeleccionado.split('-');
      const anioCurso = partesCurso[0].trim();


      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();



      // Tabla de calificaciones
      const data = [];
      $('#tabla-boletin tbody tr').each(function () {
        const materia = $(this).find('td:eq(0)').text();
        const primerTrimestre = $(this).find('td:eq(1)').text();
        const segundoTrimestre = $(this).find('td:eq(2)').text();
        const tercerTrimestre = $(this).find('td:eq(3)').text();
        const final = $(this).find('td:eq(4)').text();
        data.push([materia, primerTrimestre, segundoTrimestre, tercerTrimestre, final]); // Agregar columna vacía para Período Extendido
      });


      doc.autoTable({
        startY: 60,
        head: [['Área Curricular', '1° Informe', '2° Informe', '3° Informe', 'Informe Final']],
        body: data,
        theme: 'striped',
        styles: {
          cellPadding: 5,
          fontSize: 10,
          font: 'helvetica',
          lineColor: [44, 62, 80],
          lineWidth: 0.1,
        },
        headStyles: {
          fillColor: [41, 128, 185],
          textColor: 255,
          fontSize: 12,
          fontStyle: 'bold',
          halign: 'center',
        },
        bodyStyles: {
          textColor: [44, 62, 80],
        },
        alternateRowStyles: {
          fillColor: [236, 240, 241],
        },
        columnStyles: {
          0: { cellWidth: 'auto', halign: 'left' },
          1: { cellWidth: 30, halign: 'center' },
          2: { cellWidth: 30, halign: 'center' },
          3: { cellWidth: 30, halign: 'center' },
          4: { cellWidth: 30, halign: 'center' },
        },
      });

// Agregar título y logo
      doc.setFontSize(20);
      doc.setTextColor(41, 128, 185);
      doc.text('Boletín de Calificaciones', 105, 30, { align: 'center' });
// Aquí puedes agregar un logo: doc.addImage(logoData, 'PNG', 20, 20, 30, 30);

// Información del estudiante
      doc.setFontSize(12);
      doc.setTextColor(44, 62, 80);
      doc.text(`Estudiante: ${alumnoNombre}`, 20, 50);
      doc.text(`Sección: ${anioCurso} - ${partesCurso[1]} - ${partesCurso[2]}`, 110, 50);

// Firmas (ajustar la posición vertical según la tabla)
      const yPosition = doc.lastAutoTable.finalY + 20;
      doc.setFontSize(10);
      doc.setTextColor(44, 62, 80);

      const firmas = [
        'Docente',
        'Director',
        'Estudiante',
        'Adulto Responsable'
      ];

      firmas.forEach((firma, index) => {
        doc.text(`Firma del ${firma}:`, 20, yPosition + (index * 15));
        doc.line(70, yPosition + 2 + (index * 15), 190, yPosition + 2 + (index * 15));
      });

// Agregar pie de página
      const pageCount = doc.internal.getNumberOfPages();
      doc.setFontSize(8);
      for(let i = 1; i <= pageCount; i++) {
        doc.setPage(i);
        doc.text(`Página ${i} de ${pageCount}`, 105, 290, { align: 'center' });
      }

      doc.save(`boletin_calificaciones_${alumnoNombre}.pdf`);
    });



    // Exportar todos
    document.getElementById('exportarTodos').addEventListener('click', function () {
      const cursoId = $('#select-curso').val();

      if (!cursoId) {
        alert("Por favor, seleccione un curso.");
        return;
      }

      $.ajax({
        url: `/api/v1/calificaciones/boletin?curso=${cursoId}`,
        success: function (calificaciones) {
          calificaciones.forEach(alumnoCalificaciones => {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
            const cursoSeleccionado = $('#select-curso option:selected').text();
            const partesCurso = cursoSeleccionado.split('-');
            const anioCurso = partesCurso[0].trim();
            const alumnoNombre = `${alumnoCalificaciones.alumno.nombre} ${alumnoCalificaciones.alumno.apellido}`;

            // Tabla de calificaciones
            const body = alumnoCalificaciones.calificaciones.map(calificacion => [
              calificacion.materia,
              calificacion.primerTrimestre || "",
              calificacion.segundoTrimestre || "",
              calificacion.tercerTrimestre || "",
              calificacion.final || ""
            ]);
            doc.autoTable({
              startY: 60,
              head: [['Área Curricular', '1° Informe', '2° Informe', '3° Informe', 'Informe Final']],
              body: body,
              theme: 'striped',
              styles: {
                cellPadding: 5,
                fontSize: 10,
                font: 'helvetica',
                lineColor: [44, 62, 80],
                lineWidth: 0.1,
              },
              headStyles: {
                fillColor: [41, 128, 185],
                textColor: 255,
                fontSize: 12,
                fontStyle: 'bold',
                halign: 'center',
              },
              bodyStyles: {
                textColor: [44, 62, 80],
              },
              alternateRowStyles: {
                fillColor: [236, 240, 241],
              },
              columnStyles: {
                0: { cellWidth: 'auto', halign: 'left' },
                1: { cellWidth: 30, halign: 'center' },
                2: { cellWidth: 30, halign: 'center' },
                3: { cellWidth: 30, halign: 'center' },
                4: { cellWidth: 30, halign: 'center' },
              },
            });

// Agregar título y logo
            doc.setFontSize(20);
            doc.setTextColor(41, 128, 185);
            doc.text('Boletín de Calificaciones', 105, 30, { align: 'center' });
// Aquí puedes agregar un logo: doc.addImage(logoData, 'PNG', 20, 20, 30, 30);

// Información del estudiante
            doc.setFontSize(12);
            doc.setTextColor(44, 62, 80);
            doc.text(`Estudiante: ${alumnoNombre}`, 20, 50);
            doc.text(`Sección: ${anioCurso} - ${partesCurso[1]} - ${partesCurso[2]}`, 110, 50);

// Firmas (ajustar la posición vertical según la tabla)
            const yPosition = doc.lastAutoTable.finalY + 20;
            doc.setFontSize(10);
            doc.setTextColor(44, 62, 80);

            const firmas = [
              'Docente',
              'Director',
              'Estudiante',
              'Adulto Responsable'
            ];

            firmas.forEach((firma, index) => {
              doc.text(`Firma del ${firma}:`, 20, yPosition + (index * 15));
              doc.line(70, yPosition + 2 + (index * 15), 190, yPosition + 2 + (index * 15));
            });

// Agregar pie de página
            const pageCount = doc.internal.getNumberOfPages();
            doc.setFontSize(8);
            for(let i = 1; i <= pageCount; i++) {
              doc.setPage(i);
              doc.text(`Página ${i} de ${pageCount}`, 105, 290, { align: 'center' });
            }

            doc.save(`boletin_${alumnoNombre}.pdf`);
          });
        }
      });
    });
    document.getElementById('exportarHistoriaAcademica').addEventListener('click', function () {
      const alumnoId = $('#modalBoletin').data('alumno-id');
      const alumnoNombre = $('#nombreAlumnoModal').text();
      const { jsPDF } = window.jspdf;
      const doc = new jsPDF();

      $.ajax({
        url: '/api/v1/cursos',
        success: function (cursos) {
          let promises = [];

          let isFirstPage = true;
          cursos.forEach((curso, index) => {
            promises.push(
                    $.ajax({
                      url: `/api/v1/calificaciones/boletin?alumno=${alumnoId}&curso=${curso.id}`,
                      success: function (data) {
                        if (data.length > 0) {
                          if (!isFirstPage) {
                            doc.addPage();
                          }
                          isFirstPage = false;

                          let startY = 20;

                          // Encabezado del curso
                          doc.setFontSize(20);
                          doc.setTextColor(41, 128, 185);
                          doc.text('Historia Académica', 105, startY, { align: 'center' });

                          doc.setFontSize(14);
                          doc.setTextColor(44, 62, 80);
                          doc.text(`${curso.orden}° - ${curso.nivel} - ${curso.turno}`, 105, startY + 15, { align: 'center' });
                          //doc.text(`Ciclo Lectivo: ${curso.anio}`, 105, startY + 25, { align: 'center' });

                          // Información del estudiante
                          doc.setFontSize(12);
                          doc.text(`Estudiante: ${alumnoNombre}`, 20, startY + 40);

                          // Tabla de calificaciones del curso
                          const body = data.map(materia => [
                            materia.materia,
                            materia.primerTrimestre || "",
                            materia.segundoTrimestre || "",
                            materia.tercerTrimestre || "",
                            materia.final || ""
                          ]);

                          doc.autoTable({
                            startY: startY + 50,
                            head: [['Área Curricular', '1° Informe', '2° Informe', '3° Informe', 'Informe Final']],
                            body: body,
                            theme: 'striped',
                            styles: {
                              cellPadding: 5,
                              fontSize: 10,
                              font: 'helvetica',
                              lineColor: [44, 62, 80],
                              lineWidth: 0.1,
                            },
                            headStyles: {
                              fillColor: [41, 128, 185],
                              textColor: 255,
                              fontSize: 12,
                              fontStyle: 'bold',
                              halign: 'center',
                            },
                            bodyStyles: {
                              textColor: [44, 62, 80],
                            },
                            alternateRowStyles: {
                              fillColor: [236, 240, 241],
                            },
                            columnStyles: {
                              0: { cellWidth: 'auto', halign: 'left' },
                              1: { cellWidth: 30, halign: 'center' },
                              2: { cellWidth: 30, halign: 'center' },
                              3: { cellWidth: 30, halign: 'center' },
                              4: { cellWidth: 30, halign: 'center' },
                            },
                          });
                        }
                      }
                    })
            );
          });

          Promise.all(promises).then(() => {
            // Agregar página para firmas
            doc.addPage();

            // Firmas
            const yPosition = 50;
            doc.setFontSize(14);
            doc.setTextColor(41, 128, 185);
            doc.text('Firmas de las Autoridades', 105, 30, { align: 'center' });

            doc.setFontSize(12);
            doc.setTextColor(44, 62, 80);

            const firmas = [
              'Docente',
              'Director',
              'Estudiante',
              'Adulto Responsable'
            ];

            firmas.forEach((firma, index) => {
              doc.text(`Firma del/la ${firma}:`, 20, yPosition + (index * 30));
              doc.line(70, yPosition + 2 + (index * 30), 190, yPosition + 2 + (index * 30));
            });

            // Agregar pie de página
            const pageCount = doc.internal.getNumberOfPages();
            doc.setFontSize(8);
            for(let i = 1; i <= pageCount; i++) {
              doc.setPage(i);
              doc.text(`Página ${i} de ${pageCount}`, 105, 290, { align: 'center' });
            }

            doc.save(`historia_academica_${alumnoNombre}.pdf`);
          });
        }
      });
    });
  });
</script>

</body>

</html>